<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>

</head>
<body data-home-page="login.html" data-home-page-title="Home" class="u-body u-xl-mode"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <%- include('../partials/navbar', {loggedin:loggedin}); %>
    <section>
        <h1 align="center">Food Blog</h1>
    </section>
    <div class="login">
        <p id="message"></p>
        <h1>Change Password</h1>
        <form action="/changepass" method="post">
            <label for="password2">
                <i class="fas fa-lock"></i>
            </label>
            <input type="password" name="password2" placeholder="New Password" id="password" required>
            <label for="confirm_password">
                <i class="fa fa-check"></i>
            </label>
            <input type="password"  name="confirm_password" placeholder="Confirm Password" id="confirm_password" required>
            <input type="submit" value="Change Password">
        </form>
    </div>



</div>
<footer>
    <%- include('../partials/footer'); %>
</footer>
</body>
</html>