<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>

</head>
<body data-home-page="login.html" data-home-page-title="Home" class="u-body u-xl-mode"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <%- include('../partials/navbar', {loggedin:loggedin}); %>
        <section>
            <h1 align="center">Food Blog</h1>
        </section>
        <div class="login">
            <p id="message"></p>
            <h1>Login</h1>
            <form action="/auth" method="post" class="form1">
                <label for="username">
                    <!-- font awesome icon -->
                    <i class="fas fa-user"></i>
                </label>
                <input type="text" name="username" placeholder="Username" id="username" required>
                <label for="password">
                    <i class="fas fa-lock"></i>
                </label>
                <input type="password" name="password" placeholder="Password" id="password" required>
                <a href="">Forgotten Username/Password?</a>
                <input type="submit" value="Login">
            </form>
            <p><%= error %></p>

        </div>

        <div class="register">
            <h1>Sign Up</h1>
            <form action="/signup" method="post" class="form1">
                <label for="username">
                    <!-- font awesome icon -->
                    <i class="fas fa-user"></i>
                </label>

                <input type="text" name="username" placeholder="Username" id="username" required>
                <label for="email">
                    <i class="fa fa-paper-plane"></i>
                </label>
                <input type="email"  name="email" placeholder="Email Address" id="email" required>
                <label for="password2">
                    <i class="fas fa-lock"></i>
                </label>
                <input type="password" name="password2" placeholder="Password" id="password" required>
                <label for="confirm_password">
                    <i class="fa fa-check"></i>
                </label>
                <input type="password"  name="confirm_password" placeholder="Confirm Password" id="confirm_password" required>
                <input type="submit" value="Sign Up">
            </form>
        </div>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <div class="g-recaptcha" data-sitekey="6Ldn49ofAAAAAPb6Z9JgddNpaD2lqKx6tD816St4"></div>
    <script src="https://www.google.com/recaptcha/enterprise.js?render=6Ldn49ofAAAAAPb6Z9JgddNpaD2lqKx6tD816St4"></script>
    <script>
        grecaptcha.enterprise.ready(function() {
            grecaptcha.enterprise.execute('6Ldn49ofAAAAAPb6Z9JgddNpaD2lqKx6tD816St4', {action: 'login'}).then(function(token) {
            ...
            });
        });
    </script>


</div>
<footer>
    <%- include('../partials/footer'); %>
</footer>
</body>
</html>